body {
  background-color: white;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/engine.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
  max-width: 100%;
}

.company-name {
  font-family: 'Notable', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 8px 8px 4px #031634;
  padding-bottom: 10px;
}

.header-phone,
.header-address,
.slogan {
  color: white;
  text-align: center;
}

.slogan {
  text-shadow: 8px 8px 4px black;
  font-family:'Stint Ultra Expanded', cursive;
  padding-top: 10px;
}

.phone,
.address {
  color: white;
  text-decoration: underline;
  font-family: 'Stint Ultra Expanded', cursive;
}

.phone:hover,
.address:hover {
  color: #d83634;
}

#mainNavbar {
  background-color: #031634;
  font-size: 1.25rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Vollkorn', serif;
}

#mainNavbar .navbar-brand {
  color: #fefefe;
  font-size: 1.75rem;
}
#mainNavbar .nav-link {
  color: #fefefe;
  padding-left: 25px;
  padding-right: 25px;
}

#mainNavbar .nav-link:hover {
  background-color: #fefefe;
  color: #031634;
  transition: 0.3s;
}

